

*{
	font-family: Roboto, sans-serif !important;
}

header{
	width: 100%;
	position: absolute;
    top:0;
    z-index: 17;
    
}

.nav.logo-column{
    padding-left: 10px
}
.jogasetur_logo{
    height: 88px;
}

nav.nav_container {
    width: 0%;
    padding-top: 24px;
    min-width: 650px;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 0 auto;
    /* text-transform: uppercase; */
    border: none;
}

nav.nav_container .nav_inner{
    width: 24%;
    padding-top: 10px;
    display: flex;
}

.hamborgari {
  display: none;
  }

nav.nav_container ul {
  padding: 0;
  display: flex; 
}

nav.nav_container ul li {
  padding: 1em;
  list-style: none;
  color:white;
  font-family: roboto, san serif;
  font-size: 14px;
  font-weight: 900;
}

nav.nav_container .nav_inner a {
  padding: .3em;
  padding-left:.7em;
  padding-right:.7em;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.nav_container .nav_inner{
    width: 20%;
}

/* hefur áhrifa á logo staðsetningu */
nav.nav_container{
    width: 95%;

}
  
/* hér er hero mynd, texti og 3 buttons */

  
.hero_image {
    background-image: url("../images/hero_image_1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .hero_image:after {

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    }

    .hero_content {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 17;
    }
  
  .hero_content h1 {
    color: #fff;
    font-weight: 100;
    font-size: 88px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 32px;
    z-index: 15;
 }
  
.hero-buttons {
    display:flex;
    flex-direction: row;
    align-items: center;
}

 .hero_buttons button{
    background-color: transparent;
    color: rgb(255, 255, 255); 
    width: 248px;
    height: 56px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 16px;
}

.container button{
    border-color: white;
    border-spacing: 24px;
}

/* hér endar hero mynd, texti og 3 buttons */



/* texti undir forsíðu */

.texti_undir_mynd_forsidu h2{
    width: 100%;
    /* height: 180px; */
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.7;
    padding-bottom: 32px;
    padding-top: 32px;
    
}
/* hér byrja box undir hero mynd / forsíðu  */


.gutter{
    padding: 0px 24px;

}


.container_box_forsida{
    display: flex;
    justify-content: space-between;
    position: relative; 
   
}

.box_3_4_5{
    display: flex;
    justify-content: space-between;
}

.box_3_4_5 .box{
    background-color: #E2DEDD;
}

.box_3_4_5 img{
    width: 448px;
    height: 475px;
}

.box_3_4_5 h3{
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    width: 448px;
    padding-top: 16px;
}
.box_3_4_5 p{
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    text-align: center;
    width: 432px;
    padding-top: 8px;
    padding-bottom: 8px;

}

.box_1{
    margin-right: 18px;
    background-image: url(../images/forsida_namskeid_ibodi.jpg);
    height: 544px;
    width: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_1 img{
    width: 100%;
    height: auto;   
}

.container_box_forsida h2{
    font-size: 32px;
    font-weight: 100;
}

.box_1 button{
    background-color: transparent;
    color: #E2DEDD;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 18px;
    text-transform: uppercase;
    padding: 12px 24px;
    cursor: pointer;
    
}


.timatafla{
    background-color: #584957;
    color: #E2DEDD
   
}
.timatafla tbody{
    font-size: 16px;
    font-weight: 100;  
 }

 .timatafla table{
    width: 488px; 
 }

 .timatafla th {
    font-size: 16px;
    font-weight: 100;
    

}
   
.timatafla .active{
    font-size: 24px;
    font-weight: 100;
}


/* hér fréttabréf  */

.frettabref_wrapper{
    height: 200px;
    width: 1440px;
    background-color:#E2DEDD;
    margin-top: 88px;
    margin-bottom: 88px;
}

.frettabref_wrapper h2{
    font-size: 32px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #584957;
    padding-top: 32px;
    padding-left: 580px;
}

.frettabref_wrapper p{
    background-color:#E2DEDD;
    font-size: 16px;
    font-weight: 100;
    padding-left: 450px;
    padding-top: 10px;
}

.frettabref_wrapper .sign-up{

    width: 538px;

}

.frettabref_wrapper .submit{

    width: 184px;
    height: 42px;

}




/* hér byrjar footer  */



footer{
    height: 192px; 
    background-color:#584957;
    width: 100%;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 32px 24px;
}

.logo_email{
    color: #F4F0F0;
    line-height: 3;
    text-align: center;
}

.logo_email h3{
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 16px;
        
}
    

.address{
    color: #E2DEDD;
    bottom: 0;
    font-size: 16px;
    
}
.address p{
    line-height: 1.5;
    font-weight: 200;
    font-size: 16px;
    
}
.address h3{
    line-height: 3.5;
    font-size: 16px;
    font-weight: 200;
    
}
.social_media{
    font-size: 16px;

}




